extends layout


block content
  .row-about
      .divider-title Proposals Sorted by Order
      .container
        .row
          .panel.panel-default
            .panel-body
            //- p= data
            each val, index in data
              h4.text-primary Organization: #{val['org-name']}
              p
                strong State:
                |  #{val['State']} &nbsp;
                strong Roof Age:
                |  #{2016-val['roof-age']} &nbsp;
                strong Roof Getting Replaced:
                |  #{val['replace']} &nbsp;
                strong Building Owners:
                |  #{val['building']}  &nbsp;
                strong Organization Age:
                |  #{2016-val['year']}
              p 
                strong Volunteer Name:
                |  #{val['name']} &nbsp;
                strong Email:
                |  #{val['email']} &nbsp;
                strong Contact-Number:
                |  #{val['phone']} &nbsp;
              button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#card'+index) More Details

              .collapse(id='card'+index)
                br
                h4 Volunteer Info
                br
                .div Interest: #{val.spearhead}
                br
                .div Experience: #{val.experience}
                br
                .div Role in Organization: #{val.affiliation}
                br
                h4 Organization Info
                .div Organization Type: #{val['org-type']}
                br
                .div Website: #{val['website']}
                br
                .div Tax ID: #{val['tax']}
                br
                .div Building Address: #{val['address']}
                br
                .div Billing Address: #{val['billing-address']}
                br
                .div Phone-Number: #{val['business-phone']}
                hr
                .div Roof Age: #{2016-val['roof-age']}
                br
                .div Replacing Roof Soon: #{val['replace']}
                br
                .div Electricity Provider: #{val['electric']}
                hr
                .div Energy Efficiency Upgrades: #{val['efficiency-implemented']}
                hr
                .div Years in building: #{val.length}
                br
                .div Annual People Through Doors: #{val.people}
                br
                .div Demographics: #{val.demographic}
                hr
                .div Mission Statement: #{val.mission}
                br
                .div Interest in Solar: #{val.why}
                br
                .div Looked at Solar Before: #{val.history}
                br 

              hr